.crop-img{
    max-height: 150px;
    max-width: 100%;
    margin-bottom: 10px;
}

.large-img{
    max-width: 100%;
    margin-top: 10px;
}

a{
    text-decoration: none;
}

body{
    margin-top: 10px;
}